---
server:
  port: 9001
spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
    default-property-inclusion: non_null
registry_service:
  url: http://localhost:4000/
context:
  domain: retail
  city: Bengaluru
  country: India
  bap_id: beckn_in_a_box_bap
  bap_url: beckn_in_a_box_bap.com
database:
  mongo:
    url: mongodb://{{ mongo_host }}:{{ mongo_port }}
    dbname: {{ bap_mongo_dbname }}
