---
server:
  port: 9001
spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
    default-property-inclusion: non_null
registry_service:
  url: {{ registry_url }}
context:
  domain: local-retail
  city: Bengaluru
  country: IND
  bap_id: beckn_in_a_box_bap
  bap_url: beckn_in_a_box_bap.com
database:
  mongo:
    url: mongodb://{{ mongo_host }}:{{ mongo_port }}
    name: {{ bap_mongo_name }}
